[user]
name = "John Kaczor"
email = "johngkhs@gmail.com"

[aliases]
b = ["bookmark"]
cb = ["bookmark", "create", "-r@"]
co = ["checkout"]
d = ["diff"]
e = ["edit"]
f = ["git", "fetch"]
l = ["log"]
la = ["log", "-r", "::@"]
ll = ["log", "-T", "log_with_files"]
m = ["describe", "-m"]
n = ["new"]
na = ["new", "--insert-after", "@"]
nb = ["new", "--insert-before", "@"]
pu = ["git", "push", "--allow-new"]
r = ["rebase"]
rm = ["rebase", "-b@", "-dmain"]
s = ["status"]
sh = ["show"]
sq = ["squash"]
tug = ["bookmark", "move", "--from", "heads(::@ & bookmarks())", "--to", "closest_pushable(@)"]

[diff]
tool = "delta"

[ui]
default-command = "status"
editor = "nvim"
diff-formatter = ":git" # required by `delta`
pager= ["delta", "--pager", "less -FRX"] # Keeps output from the terminal after closing the pager

# These options allow for `jj diff` and `jj show` to clear the output from the terminal after closing the pager.
[[--scope]]
--when.commands = ["diff", "show"]

[--scope.ui]
pager = "delta"

[revset-aliases]
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'
recent_work = 'ancestors(visible_heads(), 3) & mutable()'

[template-aliases]
log_with_files = '''
if(root,
  format_root_commit(self),
  label(if(current_working_copy, "working_copy"),
    concat(
      format_short_commit_header(self) ++ "\n",
      separate(" ",
        if(empty, label("empty", "(empty)")),
        if(description,
          description.first_line(),
          label(if(empty, "empty"), description_placeholder),
        ),
      ) ++ "\n",
      if(self.contained_in("recent_work"), diff.summary()),
    ),
  )
)
'''
